.wakelock-container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #006600;
}

.wakelock-message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.wakelock-message.error {
  background-color: rgba(255, 0, 0, 0.3);
  color: #ff8080;
}

.wakelock-toggle {
  background-color: #5b0000;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 24px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.wakelock-toggle.active {
  background-color: #006600;
}

.wakelock-toggle:hover {
  opacity: 0.8;
}