.clock-container {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 20px; */
}

.time {
  font-size: 72px;
  font-weight: 300;
  margin-bottom: 5px;
}

.date {
  font-size: 24px;
  font-weight: 300;
}